/* hidden-card.css */
.hidden-card {
    background: linear-gradient(45deg, #978f8fba, #978f8fba),
        repeating-linear-gradient(-45deg, #aa1212ba 0px, #aa1212ba 5px, transparent 1px, transparent 10px);
    background-size: cover;
    border: 7px solid #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 1;
}