/* CardInputMenu Styles */
.card-input-menu {
    width: 100%;
    padding: 2px;
    background-color: #222;
    margin-top: 0vh;
    flex-direction: column;
    align-items: flex-start;
}

.user-cards-frame,
.board-cards-frame {
    width: max-content;
    padding: 0px;
    background-color: #333;
    border: 0px solid #444;
    border-radius: 0px;
}

.user-cards-frame h3,
.board-cards-frame h3 {
    margin-top: 0;
    text-align: center;
    color: #fff;
}

/* Style for the user cards and board cards frames */
.user-cards-frame,
.board-cards-frame {
    flex: 1;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for the user cards and board cards headers */
.user-cards-frame h3,
.board-cards-frame h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(190, 190, 190);
}

/* Style for the card input containers */
.card-input {
    margin-bottom: 10px;

    display: flex;
    /* Add display flex to align items horizontally */
    align-items: center;
    /* Vertically align items in the center */
    justify-content: space-between;
    /* Add space between input and buttons */
}

/* Style for the input field */
.card-input input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
}

/* Style for input focus (when clicked or selected) */
.card-input input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style for input placeholder text */
.card-input input[type="text"]::placeholder {
    color: #888;
}

/* Style for error message (if needed) */
.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
}

/* Style for the reset button */
.card-input button {
    width: 60px;
    /* Set a fixed width for the buttons */
    height: 30px;
    /* Set a fixed height for the buttons */
    background-color: #17181a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Style for button hover (when mouse is over the button) */
.card-input button:hover {
    background-color: #4f86bc;
}

.modern-button {
    width: 100%;
    /* Set a fixed width for the buttons */
    height: 30%;
    /* Set a fixed height for the buttons */
    background-color: #5f6163;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5% 0;
    /* Adjust padding */
    margin-top: 2%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modern-button:hover {
    background-color: #282a2b;
}